.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    max-width : 350px;
    padding-left : 10px;
}
.card .img{
    justify-content : center;
}
.name{
    font-size: 20px;
    font-weight: bold;
    padding: 10 10 10 10;
    margin-top: 0;
    margin-bottom: 0;
    transition: 0.2ms;
}
.designation{
    font-size: 25px;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}