h2{
    color: rgb(122, 122, 238);
}
.tableHead {
    overflow-y: auto;
    height: 100px;
  }
  .tableHead thead th {
    position: sticky;
    top: 0;
  }
  table {
    border-collapse: collapse;        
    width: 100%;
  }
  th,
  td {
    padding: 8px 15px;
    border: 2px solid #529432;
  }
  th {
    background: #ABDD93;
  }